@font-face {
    font-family: Vazir;
    src: url("../fonts/Vazir.ttf") format('truetype');
}

/* ========================== */

*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ========================== */
body {
    font-family: Vazir, sans-serif;
}

/* ========================== */

#container {
    width: 100vw;
    height: 100vh;
    background-color: #74bac1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toolbox {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
}

#toolbox div.item {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fa7d09;
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-shadow: 0 0 10px rgba(36, 148, 160, 1);
    cursor: pointer;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.d1 {
    animation-name: item1;
    animation-delay: 0s;
    top: -10px;
}

.d2 {
    animation-name: item2;
    animation-delay: 0.5s;
    bottom: 160px;
    right: 0;
}

.d3 {
    animation-name: item3;
    animation-delay: 1s;
    bottom: 10px;
}

.d4 {
    animation-name: item4;
    animation-delay: 1.5s;
    bottom: 160px;
    left: 0;
}

@keyframes item1 {
    0% {
        top: -10px;
    }
    50% {
        top: 10px;
    }
    100% {
        top: -10px;
    }
}

@keyframes item2 {
    0% {
        bottom: 160px;
    }
    50% {
        bottom: 140px;
    }
    100% {
        bottom: 160px;
    }
}

@keyframes item3 {
    0% {
        bottom: 10px;
    }
    50% {
        bottom: -10px;
    }
    100% {
        bottom: 10px;
    }
}

@keyframes item4 {
    0% {
        bottom: 160px;
    }
    50% {
        bottom: 140px;
    }
    100% {
        bottom: 160px;
    }
}




















